* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-Color: #03636f;

  --white-font: #efefef;

  --black-font: #3f4450;

  --section-padding: 60px;

  --hov-color: #645cbb;
}

/*gloabal rules start*/
html {
  scroll-behavior: smooth;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}
body {
  font-family: "Fira Sans Condensed", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.flex-display {
  display: flex !important;
}
.special-main-heading {
  color: var(--main-Color);
  margin: 0 auto var(--section-padding);
  width: fit-content;
  text-transform: capitalize;
  font-size: 2.5em;
  position: relative;
  z-index: 5;
  max-width: 100%;
  text-align: center;
}
.special-main-heading .head-wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  width: 100%;
}

/* scroll top  */

#myBtn {
  display: none; /* Hide the button initially */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--main-Color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border: var(--black-font) 2px solid;
  z-index: 46546545546564546654;
}
#myBtn:hover {
  background-color: var(--hov-color); /* Add a dark-grey background on hover */
}
/* start lisiting */
.cont {
  margin: 0 auto;
  font-family: Arial, Tahoma, Serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont > :first-child {
  flex-grow: 2;
}
h1 {
  background: var(--main-Color);
  color: white;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 0px;
  border-radius: 15px;
}

.floating-box {
  font-size: 16px;
  color: var(--white-font);
  display: inline-block;
  width: 149px;
  /* height: 75px; */
  margin: 10px;
  padding: 10px;
  background: var(--main-Color);
  border: 1px solid silver;
  font-weight: 600;
  border-radius: 15px 20px;
  padding: 20px;
  line-height: 1.8;
  transition: 0.4s;
  width: 200px;
}

.floating-box:hover {
  color: var(--white-font);
  transition: 0.4s;
  transform: translateX(10px) scale(1.1);
}
.floating-box > u {
  font-size: 18px;
}

.hovered {
  transform: translateY(-50%) rotate(0);
}
.unhovered {
  transform: translateY(-50%) rotate(-90deg);
}
/* end  */


/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1400px) {
  .container {
    width: 1070px;
  }
}


/* charts start  */

.x {
  transform-origin: right;
  position: absolute;
}
.chart {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}
.chart a {
  color: inherit;
}
.chart-parent {
  width: 250px;
  height: 3px;
  background-color: #000;
  position: relative;
}

.x:nth-child(1) {
  transform: translate(-100px) rotate(-45deg);
}
.x:nth-child(1) .circle {
  transform: rotate(45deg) translate(-150px);
  --var-trans: rotate(45deg) translate(-150px);
}
.x:nth-child(2) {
  transform: translate(-100px) rotate(-90deg);
}
.x:nth-child(2) .circle {
  transform: translate(-75px, -75px) rotate(90deg);
  --var-trans: translate(-75px, -75px) rotate(90deg);
}
.x:nth-child(3) {
  transform: translate(-100px) rotate(-135deg);
}
.x:nth-child(3) .circle {
  transform: rotate(135deg) translate(37px, 100px);
  --var-trans: rotate(135deg) translate(37px, 100px);
}

.x:nth-child(4) {
  transform: translate(-100px) rotate(-180deg);
}
.x:nth-child(4) .circle {
  transform: rotate(180deg) translate(150px, 75px);
  --var-trans: rotate(180deg) translate(150px, 75px);
}
.x:nth-child(5) {
  transform: translate(-100px) rotate(-225deg);
}
.x:nth-child(5) .circle {
  transform: rotate(225deg) translate(150px, -13px);
  --var-trans: rotate(225deg) translate(150px, -13px);
}

.x:nth-child(6) {
  transform: translate(-100px) rotate(-270deg);
}
.x:nth-child(6) .circle {
  --var-trans: rotate(270deg) translate(75px, -75px);

  transform: rotate(270deg) translate(75px, -75px);
}
.x:nth-child(7) {
  transform: translate(-100px) rotate(-315deg);
}
.x:nth-child(7) .circle {
  --var-trans: rotate(315deg) translate(-75px, -113px);

  transform: rotate(315deg) translate(-75px, -113px);
}
.x:nth-child(8) {
  transform: translate(-100px) rotate(-360deg);
}
.x:nth-child(8) .circle {
  --var-trans: rotate(360deg) translate(-112px, -75px);
  transform: rotate(360deg) translate(-112px, -75px);
}
.chart-parent .circle {
  background-color: var(--main-Color);
  color: var(--white-font);
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  font-size: 18px;
}
.chart-parent .circle:hover {
  transform: var(--var-trans) scale(1.1);
}
.main-tit {
  width: 250px;
  transition: 0.3s;
  height: 200px;
  background-color: var(--main-Color);
  color: var(--white-font);
  border-radius: 50%;
  transform: translate(-0%, -0%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  transform: translate(9%) scale(1.3);
}
.main-tit:hover {
  transform: translate(9%) scale(1.4);
}
@media (max-width: 991px) {
  .chart {
    padding-left: 250px;
    overflow: scroll;
  }
  .main-tit{
    font-size: 18px !important;
    width: 130px;
    height: 160px;
  }
}
/*chart end*/
/*gloabal rules end*/
/* header start  */
header {
  background-color: var(--white-font);
  height: fit-content;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: var(--main-Color);
}
header .container .logo {
  height: inherit;
  position: relative;
}

header .container h2 {
  font-size: 22px;
}
header .container h2 a {
  color: var(--main-Color);
}
header nav {
  height: 100%;
}
header .container ul {
  height: 100%;
}
header ul > li {
  min-width: fit-content;
  transition: 0.4s;
  height: 100%;
  position: relative;
  z-index: 222222;
  padding-right: 20px;
}
header ul li > i {
  right: 10px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center center;
  transition: 0.4s;
}
header ul li > i:hover {
  transform: translateY(-50%) rotate(0);
}

header .container ul a {
  padding: 10px;
  display: block;
  height: 100%;
  font-size: 14px;
  color: var(--main-Color);
  font-weight: 600;
}

header .container .logo,
header .container nav > ul,
header .container ul a {
  display: flex;
  justify-content: space-between;

  transition: 0.4s;
  align-items: center;
}
header .container nav > ul {
  justify-content: flex-end;
}
header .container > i {
  display: none;
}
header ul > li > ul {
  height: fit-content;
  position: absolute;
  bottom: -100%;
  left: 0;
  display: block !important;
  color: var(--main-Color);
  min-width: 200px;
}
header ul > li > ul li {
  background-color: #efefef;
  border-bottom: #03636fb1 2px solid;
}

@media (max-width: 991px) {
  header .container nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-grow: 2;
  }
  header .container > i {
    display: block;
    width: fit-content;
    font-size: 20px;
    padding: 10px;
  }

  header ul li i:hover {
    transform: rotate(0);
  }

  header .container ul {
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 224564564;
    background-color: var(--white-font, #fff);
    height: fit-content;
    font-size: 12px;
    border-radius: 5px;
    transform: translateY(10px);
    display: none;
  }

  header .container ul li {
    border-bottom: 2px solid #03636fb1;
  }
  .non-display {
    display: none !important;
  }
  .block-display {
    display: block !important;
  }
  header ul li:hover::after {
    display: none !important;
  }
  header ul li > i {
    display: none !important;
  }
}
.non1-display {
  display: none !important;
}
.block1-display {
  display: block !important;
}
header .logo::after,
header nav > ul > li::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--main-Color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  display: none;
}
header .logo:hover::after,
header ul li:hover::after {
  display: block;
}
header ul li:hover {
  font-weight: bold;
}

header ul li:nth-child(2) > ul {
  transition: 0.4s;
  z-index: 105456465;
  border-top: 2px solid var(--main-Color);
}
/* header ul li:nth-child(2) ul li {
  padding-left: 15px;
} */
header ul li ul li:hover {
  padding-left: 15px;
}

/* header end  */
/* start landing 
 */

.landing {
  height: calc(100vh - 60px);
  background-image: url("../images/33.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
.landing .text {
  position: absolute;
  top: 50%;
  width: 400px;
  max-width: 100%;
  color: var(--white-font);
  padding: 20px;
  transform: translateY(-50%);
  line-height: 1.8;
  background-color: #03636fb1;
  /* height: 100%; */
}
.landing .text h2 {
  margin-bottom: 30px;
  font-size: 40px;
}
.landing p {
  font-size: 14px;
}
@media (max-width: 767px) {
  .landing .text {
    max-height: 100%;
  }
  .landing .text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}
/* end landing 
 */

/* start about us  */
section.about-us {
  padding-block: var(--section-padding);
  /* background-color: #efefef; */
}
section.about-us .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
section.about-us .container .text p {
  padding: 15px;
}
.my-wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
section.about-us .container .text h3 {
  font-size: 40px;
  margin-bottom: 20px;
  padding: 15px;
}
section.about-us .container .text {
  color: var(--main-Color);
  padding: 15px;
  position: relative;
  width: 400px;

  line-height: 1.8;
  word-spacing: 5px;
  flex-grow: 6;
}

section .image2 {
  height: 450px;
  margin-left: -70px;
}
section .image1 {
  height: 400px;
  flex-grow: 2;
  min-width: 280px;
}
section .image1 img,
section .image2 img {
  max-height: 100%;
}
section .animation {
  display: block;
  width: fit-content;
  /* font-size: 200px; */
  color: rgb(32, 127, 243);
  animation-name: ab-an;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: running;
  animation-direction: alternate;
  transform-style: preserve-3d;
}

@keyframes ab-an {
  from {
    transform: translate(10, -15px) rotate(10deg);
  }
  to {
    transform: translate(-10px, 10px) rotate(-10deg);
  }
}
@keyframes ab-an-mob {
  from {
    transform: translate(0, -15px) rotate(00deg);
  }
  to {
    transform: translate(0, 10px) rotate(-5deg);
  }
}
@media (max-width: 767px) {
  section .animation {
    animation-name: ab-an-mob;
  }
  section.about-us .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.about-us .image1 {
    flex-grow: 1;
    max-width: 320px;
    display: flex;
    justify-content: center;
  }
}
/***************/
/* start footer  */
footer {
  background-color: var(--main-Color);
  padding: 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .img-logo {
  height: 70px;
}
footer img {
  max-height: 100%;
}
footer .container h3 a {
  color: #fff;
}
footer .container h3 {
  color: #fff;
}
/* End footer  */
/*-------------------------------------------------------------*/
/* Start diagnosis  */
.main-sec {
  padding-block: var(--section-padding);
  position: relative;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}
.main-sec .tcs-heading {
  font-size: 22px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: var(--main-Color);
  font-weight: 900;
}
.back-ground-parent .back-ground {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.back-ground-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: -1;
  left: 0;
}
section > svg:first-child,
section .back-ground > svg:first-child {
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 100%;
}
/*tc start*/
.tc-list li::before {
  display: none;
}
.main-sec .container .tc-list {
  list-style: initial;
  text-align: left;
  margin-bottom: 30px;
}
.main-sec .container .tc-list li {
  color: var(--main-Color);
  font-weight: 600;
  line-height: 2;
  position: relative;
  padding-left: 10px;
}
.main-sec .container .table-img {
  margin: auto;
  background-color: #2180f32b;
  padding: 60px;
}
.main-sec .container .table-img img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*tc end*/

.main-sec .dia-links {
  font-size: 18px;
  display: flex;
  width: 70%;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  counter-reset: diag;
  margin-top: 120px;
}
.main-sec .dia-links li {
  font-weight: 600;
  position: relative;
  counter-increment: diag;
  transition: 0.4s;
}
.main-sec .dia-links li:hover,
.main-sec .dia-links li:hover a {
  padding-left: 5px;
  color: #2181f3;
}
.main-sec .dia-links li::before/*,
.main-mandibular-deformity .Treatment-of-the-growing-child ul li::before { */ {
  content: counter(diag);
  position: absolute;
  top: -50px;
  left: 50%;
  font-size: 20px;
  color: var(--white-font);
  background-color: var(--main-Color);
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
}

.main-sec ul.dia-links li a {
  color: var(--black-font);
}
@media (max-width: 767px) {
  .main-sec ul.dia-links {
    flex-direction: column;
    height: 200px;
  }
  .main-sec ul.dia-links li::before {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.main-sec .timeline {
  padding: 20px;
  width: 70%;
  margin: auto;
  color: var(--white-font);
  background-color: var(--main-Color);
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 60px;
  min-height: 60px;
  position: relative;
}
.main-sec .timeline::after {
  content: "";
  width: 60px;
  /* background-color: var(--main-Color); */
  background: linear-gradient(
    45deg,
    #fff 0%,
    #fff 50%,
    var(--main-Color) 50%,
    var(--main-Color) 100%
  );
  height: 60px;
  position: absolute;
  right: -60px;
  top: 0;
  z-index: -1;
  transform: translateX(-30px) rotate(45deg);
}

@media (max-width: 767px) {
  .main-sec .timeline::after {
    display: none;
  }
}

/*********************************/
/* start prenatal  */
.prenatal-stage {
  padding-block: var(--section-padding);
  overflow: hidden;
}

.prenatal-stage h4 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--main-Color);
  font-weight: 900;
}

.prenatal-stage .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prenatal-stage .text {
  position: relative;
  max-width: 400px;
  color: var(--main-Color);

  overflow: hidden;
  margin-bottom: 50px;
  margin-inline: 15px;
}
.prenatal-stage .text > svg {
  height: 100%;
}

.prenatal-stage .text p {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

figure {
  width: fit-content;
  text-align: center;
  color: var(--main-Color);
  transition: 0.3s;
  max-width: 100%;
}

figure * {
  margin-bottom: 15px;
}

.prenatal-stage figure:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .prenatal-stage .box {
    flex-wrap: wrap;
  }
  .prenatal-stage .box:nth-child(2) {
    flex-wrap: wrap-reverse;
  }
  .prenatal-stage .text {
    margin-block: 60px;
  }
  figure * {
    max-width: 320px;
    overflow: hidden;
    margin: auto;
  }
}
/****prenatal end*/
/* neonatal start  */
.neonatal-stage {
  padding-block: var(--section-padding);
  position: relative;
  overflow: hidden;
}
.neonatal-stage > svg {
  width: 100%;
  transform: scale(2);
  top: 0px !important;
  z-index: -1;
  position: absolute;
}
.neonatal-stage p {
  color: var(--main-Color);
  font-size: 18px;
  text-align: center;
}

.neonatal-stage .container table,
.maxillomandibular-table {
  max-width: 100%;
  margin-block: 50px;
}
.maxillomandibular-table thead,
.neonatal-stage .container table thead {
  text-align: center;
}

.maxillomandibular-table thead th,
.neonatal-stage .container table thead th {
  color: var(--white-font);
  background-color: var(--main-Color);
}
.maxillomandibular-table tr td,
.neonatal-stage .container table tr td {
  background-color: #03636fb1;
  color: var(--white-font);
  font-weight: 600;
  line-height: 1.8;
}
.maxillomandibular-table tr td,
.maxillomandibular-table th,
.neonatal-stage .container table td,
.neonatal-stage th {
  padding: 20px;
}
.neonatal-stage .container table br {
  display: block;
  margin-block: 20px;
}
@media (max-width: 991px) {
  .neonatal-stage .container .my-table {
    overflow-x: scroll !important;
  }
}
.neonatal-stage .figure {
  display: block;
  margin-inline: auto !important;
}
.neonatal-stage figure img {
  width: 250px;
}
.neonatal-stage figure img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/* neonatal end  */
.childhood-diag {
  padding-block: var(--section-padding);
  position: relative;
  overflow: hidden;
}
.childhood-diag .container > p {
  font-size: 18px;
  color: var(--main-Color);
  margin-bottom: 50px;
  font-weight: 600;
}
.childhood-diag .container .img-box {
  transition: 0.3s;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.childhood-diag .container .img-box .text {
  flex-basis: 400px;
  position: relative;
  background-color: var(--main-Color);
  /* position: relative; */
  color: var(--white-font);
  padding: 5px 30px;
  height: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}
.childhood-diag .container .img-box ol {
  margin-block: 20px;
  font-size: 18px;
}
.childhood-diag .container .img-box ol li {
  line-height: 1.8;
}
.childhood-diag .container .img-box .image,
.childhood-diag .container .img-box .image.image2 {
  /* position: absolute; */
  width: 360px;
  background-color: var(--main-Color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 100%; */
  height: 360px;
  top: 0;

  overflow: hidden;
}
.childhood-diag .container .img-box .image img {
  transition: 0.3s;
}
.childhood-diag .container .img-box:hover .image img {
  transform: scale(1.2);
}

.childhood-diag .container .img-box .image2 img {
  max-width: 75%;
}
.childhood-diag .container > h4 {
  color: var(--main-Color);
  font-size: 22px;
  margin-block: 50px;
}
/*end childhood*/
/* end diagnosis  */
/* start treatment page*/
/* main-section-treat start*/
.treatment-main,
.treatment-of {
  padding-block: var(--section-padding);
  overflow: hidden;
  min-height: calc(100vh - 60px);
  position: relative;
}
.treatment-main > svg,
.treatment-of > svg {
  height: 100%;
  position: absolute;
}
.treatment-main .overview p {
  color: var(--main-Color);
  line-height: 1.8;
  font-size: 18px;
}
.treatment-main .overview h4 {
  color: var(--main-Color);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 900;
}
/* main-section-treat end*/

/* /*treatment guidelines start */
.treat-guidelines,
.treatment-of {
  padding-block: var(--section-padding);
  position: relative;
  overflow: hidden;
  min-height: 60vh;
}

/* /*treatment guidelines  end*/

/* start treatment - main-mandibular-deformity  page*/
.main-mandibular-deformity,
.general-assessment,
.treatment-steps,
.aural-rehabilitation {
  padding-block: var(--section-padding);
  position: relative;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;
}
.main-mandibular-deformity .Treatment-of-the-growing-child h4 {
  color: var(--main-Color);
  font-size: 22px;
  text-decoration: underline;
  font-weight: 900;
}
.main-mandibular-deformity .Treatment-of-the-growing-child ul {
  margin-top: 40px;
  color: var(--main-Color);
  padding-left: 40px;
}
.main-mandibular-deformity .Treatment-of-the-growing-child ul li {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.8;
  position: relative;
  font-weight: 600;
}

/* start g-assesment  */
.general-assessment .image {
  background-color: #03636fb1;
  padding: 20px;
}

.general-assessment .image img {
  max-width: 100%;
}

/* end g-assesment  */
/* mand treatment steps  */
.treatment-steps .container ol {
  color: var(--main-Color);
  padding-left: 20px;
}
.treatment-steps .container ol > li {
  margin-bottom: 20px;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 900;
}
.treatment-steps .container ol > li h4 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 900;
}
.treatment-steps .container ol > li ul {
  padding-left: 30px;
}
.treatment-steps .container ol > li ul li {
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 600;
}
/* mand treatmenat steps  */
/* Orbital Zygomatic   */
/* sections styles ------------------------------------------------------------------------- */
.rhinoplasty,.vision,.genitourinary,.z-bone,.orb-anatomical,.oral-findings,
.orthodontic-management,
.maxillomandibular-deformities,
.orbital-zygomatic,
.orb-t,
.function-problems,
.anatomical-features,
.breathing,
.main-feeding,.neurologic,
.main-speech,.sys-problems,.dental,.nutritional
/* sections styles ------------------------------------------------------------------------- */ {
  padding-block: var(--section-padding);
  position: relative;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;
}
.orbital-zygomatic .container.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 70vh;
  gap: 25px 15px;
}
.orbital-zygomatic .container.grid .text {
  padding: 10px;
  transition: 0.3s;
  background-color: var(--main-Color);
  color: var(--white-font);
  border-radius: 25% 45% 15% 60%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 3px #3f4450;
}
.orbital-zygomatic .container.grid .text:hover {
  transform: scale(1.1);
}
.orbital-zygomatic .container.grid .text p,
.orbital-zygomatic ol {
  max-width: 80%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  background-color: #03636fb1;
}
.orbital-zygomatic .container.grid .text h4 {
  margin-bottom: 20px;
  font-size: 22px;
  background-color: #03636fb1;

  text-decoration: underline;
  text-transform: capitalize;
}
.orbital-zygomatic .container.grid .one {
  grid-column: 2/6;
  grid-row: 1;
}
.orbital-zygomatic .container.grid .two {
  grid-column: 1/4;
  grid-row: 0;
}
.orbital-zygomatic .container.grid .three {
  grid-column: 4/7;
}
/* .orbital-zygomatic > svg {
  height: 100%;
} */

/* end Orbital Zygomatic   */

/* .main-mandibular-deformity .Treatment-of-the-growing-child ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  left: -20px;
} */

/* end maxillomandibular-deformities  */
.maxillomandibular-deformities .container h4,
.maxillomandibular-deformities .container h5 {
  font-size: 22px;
  color: var(--main-Color);
  margin-bottom: 20px;
}
.maxillomandibular-deformities .container h5 {
  font-size: 18px;
  padding: 5px;
  background-color: #eee;
  width: fit-content;
  margin-top: 20px;
}
/* end maxillomandibular-deformities  */

/* start .orthodontic-management  */
.repeated-list,
.orthodontic-management ul,
.rhinoplasty-cap,
.orb-t-list,
.aural-rehabilitation {
  /* list-style: initial !important; */
  font-size: 22px;
  margin-bottom: 60px;
  padding-block: var(--section-padding);
}
.repeated-list {
  margin-bottom: 0px !important;
}
.repeated-list li,
.orthodontic-management ul li,
.rhinoplasty-cap li,
.orb-t-list li {
  color: var(--white-font);
  background-color: var(--main-Color);
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  transition: 0.3s;
  max-width: 80%;
  margin: 20px auto;
}
.repeated-list li:hover,
.orthodontic-management ul li:hover,
.rhinoplasty-cap li:hover,
.orb-t-list li:hover {
  transform: scale(1.1);
}
.orthodontic-management ul li::before,
.rhinoplasty-cap li::before,
.orb-t-list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--main-Color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em;
  margin-left: -2em;
}
.orthodontic-management .box {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.orthodontic-management .box .image {
  padding: 5px;
  background-color: #03636fb1;
}
.orthodontic-management .box .image img {
  max-width: 100%;
  transition: 0.3s;
}
.orthodontic-management .box .image:hover img {
  transform: scale(1.1);
}
.oral-findings cite,
.orthodontic-management cite {
  display: block;
  width: fit-content;
  font-size: 14px;
  margin: 20px auto;
}
/* end .orthodontic-management  */
/* .aural-rehabilitation start  */
.aural-rehabilitation {
  margin-bottom: 0;
}

.chart-v1 {
  /* overflow-x: scroll; */
  display: grid;
  min-height: calc(100vh - 60px);
  grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 200px 80px 10px repeat(2, 80px) 300px repeat(
      2,
      minmax(200px, 1fr)
    );
  text-align: center;
  min-width: 780px;
}
.chart-v1 ol {
  max-width: 90%;
  margin: auto;
  text-align: left;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.color {
  background-color: var(--main-Color);
  color: var(--white-font);
}
.ch-head {
  grid-row: 1;
  grid-column: 5/10;
  padding: 10px;
  border-radius: 50%;
}
.arr1V {
  background-color: var(--main-Color);
  grid-row: 1/4;
  grid-column: 7;
  position: relative;
  z-index: -1;
}
.arr-m-h {
  grid-column: 3/12;
  background-color: var(--main-Color);
  grid-row: 3;
}
.arr1h,
.arr2h,
.arr3h {
  background-color: var(--main-Color);
  border-radius: 3px;
}
.arr1h {
  grid-row: 3/6;
  grid-column: 3;
}
.arr2h {
  grid-row: 3/6;
  grid-column: 7;
}
.arr3h {
  grid-row: 3/6;
  grid-column: 11;
}
.chart-v1 .one {
  grid-column: 2/5;
  grid-row: 5/7;
  border-radius: 20px;
}
.chart-v1 .two {
  grid-row: 5/7;
  grid-column: 6/9;
  border-radius: 20px;
  position: relative;
  justify-content: flex-start;
  z-index: 1;
}
.chart-v1 .two div {
  position: absolute;
  width: 400px;
  background-color: var(--main-Color);
  height: 5px;
  transform-origin: left;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
.chart-v1 .two .subarr1 {
  transform: rotate(50deg);
  width: 400px;
  z-index: -1 !important;
}
.two .subarr2 {
  width: 400px;

  z-index: -1 !important;
  transform: rotate(130deg);
}
.chart-v1 .three {
  grid-row: 5/7;
  grid-column: 10/13;
  border-radius: 20px;
  justify-content: flex-start;
  transform-origin: bottom left !important;
}
.chart-v1 .one,
.chart-v1 .two,
.chart-v1 .three,
.chart-v1 .sub1,
.chart-v1 .sub2 {
  transition: 0.3s;
  transform-origin: top right;
}
.chart-v1 .two {
  transform-origin: center;
}
.chart-v1 .one:hover,
.chart-v1 .two:hover,
.chart-v1 .three:hover,
.chart-v1 .sub1:hover,
.chart-v1 .sub2:hover {
  transform: scale(1.1);
}

.chart-v1 .two:hover + .sub1,
.chart-v1 .two:hover + .sub1 + .sub2 {
  transform: scale(1.1);
}
.two:hover .subarr1 {
  transform: rotate(50deg) scale(1);
}
.two:hover .subarr2 {
  transform: rotate(130deg) scale(1);
}
.chart-v1 .one,
.chart-v1 .two,
.chart-v1 .three {
  padding-block: 15px;
  box-shadow: -6px 6px 1px var(--black-font);
}
.chart-v1 .sub1 {
  grid-column: 2/5;
  grid-row: 8;
  border-radius: 20px;
  box-shadow: -6px 6px 1px var(--black-font);
  padding: 10px;
  position: relative;
  z-index: 5454545;
}
.chart-v1 .sub2 {
  position: relative;
  z-index: 5454545;
  box-shadow: -6px 6px 1px var(--black-font);
  grid-row: 8;
  border-radius: 20px;
  padding: 10px;
  grid-column: 10/13;
}
.chart-v1 h4 {
  margin-bottom: 15px;
}
.chart-v1 h4 + p,
.chart-v1 h4 + p,
.chart-v1 ol {
  font-size: 18px;
  flex-grow: 2;
  line-height: 1.6;
}
.chart-v1 .one p {
  line-height: initial;
}
@media (max-width: 991px) {
  .aural-rehabilitation .special-main-heading {
    font-size: 22px;
  }
  .aural-rehabilitation .container {
    overflow-x: scroll;
  }
  .aural-rehabilitation h4 {
    font-size: 16px;
  }
  .aural-rehabilitation p,
  .aural-rehabilitation ol {
    font-size: 16px;
  }
  .tmj .container > .container {
    max-width: fit-content;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
}

.tmj .image {
  max-width: 80%;
  width: fit-content;
  margin: auto;
  padding: 10px;
  transition: 0.3s;
  background-color: #03636fb1;
}
.tmj .image + cite {
  color: #666;
  font-size: 12px;
  max-width: 50%;
  margin: auto;
  display: block;
  margin-top: 20px;
}
.tmj .image:hover {
  transform: scale(1.1);
}
.tmj .image img {
  max-width: 100%;
}
/* .aural-rehabilitation end  */

/* end treatment page */
/* start clinical features page */

.anatomical-features {
  min-height: calc(100vh - 60px);
}
/* start anatomical features  */
.anatomical-features .container p,
.anatomical-features .container p + cite,
.anatomical-features ul {
  color: var(--main-Color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  width: 700px;
  margin: 0 auto 10px;
  max-width: 100%;
}
.anatomical-features .container p + cite {
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.anatomical-features .container ul {
  color: var(--main-Color);
  font-weight: 600;
  padding-left: 60px;
}
/* end anatomical features  */

/* start function-problems */

.function-problems p {
  color: var(--main-Color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  width: 700px;
  margin: 0 auto 10px;
  max-width: 100%;
}
.function-problems p:nth-of-type(2) {
  font-weight: 600;
  font-size: 18px;
}

/* end function-problems */
/* start breathing page  */
.breathing-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-columns: 1fr 1fr;
}
.breathing-grid .explaination-1 {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 10px;
  background-color: #03636fb1;
  height: fit-content;
  grid-column: 2;
  grid-row: 1;
}
.breathing-grid ul {
  background-color: var(--main-Color);
  font-weight: 600;
  color: var(--white-font);
  padding: 15px 15px 15px 30px;
  border-radius: 12px;
  box-shadow: 6px 6px 1px rgb(3, 99, 111);
  transition: 1s;
  margin-bottom: 15px;
}
.breathing-grid ul p {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 15px;
}
.breathing-grid cite {
  transition: 1s;
  font-size: 12px;
}
.breathing-grid .image {
  grid-row: 1/3;
  grid-column: 1;
}
.breathing-grid .explaination-2 {
  max-width: 500px;
  grid-row: 2;
  grid-column: 2;
  padding: 10px;
  background-color: #03636fb1;
  height: fit-content;
}
.breathing-grid .explaination-2 img {
  width: 100%;
}
.breathing .container > p {
  color: var(--main-Color);
  font-size: 18px;
  font-weight: bold;
  margin-block: 30px;
}
/* end breathing  */

/* start main-feeding  */
.main-speech p,
.main-feeding p {
  font-size: 20px;
  color: var(--main-Color);
  line-height: 2;
  font-weight: 600;
}
.main-speech ul,
.main-feeding ul {
  padding-left: 30px;
  color: var(--main-Color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 15px;
}
.main-feeding .image {
  padding: 10px;
  background-color: #03636fb1;
  width: fit-content;
  margin: 30px auto 0;
}

.main-speech ul {
  background-color: #eee;
  padding: 20px;
  width: fit-content;
  margin-bottom: 20px;
}
/* start dental  */

.dental p {
  font-size: 20px;
  margin-block: 0px;
  margin-inline: auto;
  color: var(--main-Color);
  width: fit-content;
  max-width: 700px;
}

.dental .repeated-list {
  width: 700px;
  margin-inline: auto;
}
.dental .repeated-list li,
.neurologic .repeated-list li {
  color: var(--main-Color);
}
.dental .repeated-list li p,
.neurologic .repeated-list li p {
  color: var(--white-font);
  margin: initial;
}
/* end dental  */
/* start nutritional  */
.vision p,
.nutritional p {
  font-size: 20px;
  color: var(--main-Color);
  margin-bottom: 15px;
  font-weight: 600;
  max-width: 100%;
  width: 700px;
  margin-inline: auto;
}

.nutritional .image {
  padding: 10px;
  background-color: #03636fb1;
  margin-inline: auto;
  width: 600px;
  max-width: 100%;
  margin-top: 25px;
}
.nutritional .image img {
  width: 100%;
}
/* end  */
/* start .vision  */

.vision ul {
  width: 600px;
  color: var(--main-Color);
  margin-inline: auto;
  margin-block: 20px;
  font-size: 18px;
  padding-left: 30px;
}

.vision ul li {
  background-color: #eee;
  margin-bottom: 5px;
  width: 250px;
}
/* end vision  */

/* start genitourinary  */

.genitourinary .container > p {
  width: 680px;
  max-width: 100%;
  color: var(--main-Color);
  margin-block: 15px;
  margin-inline: auto;
  font-size: 20px;
  padding-left: 20px;
}

.genitourinary ul li {
  color: var(--main-Color);
}
.genitourinary ul li p {
  color: var(--white-font);
}
/* start genitourinary  */
/* start z-bone  */

.z-bone .info {
  background-color: var(--main-Color);
  color: var(--white-font);
  font-size: 18px;
  font-weight: 600;
  border-radius: 10% 20% 25% 30%;
  padding: 10px;
  padding-bottom: 20px;
  width: 200px;
  margin: auto;
  transition: 0.4s;
  margin-top: 30px;
  box-shadow: 6px 6px 1px #444;
}
.z-bone img {
  max-width: 100%;
}
/*z-bone end*/
.oral-findings .container > p,
.orb-anatomical .container > p {
  width: 600px;
  max-width: 100%;
  font-size: 20px;
  color: var(--main-Color);
  margin-block: 10px;
  margin-inline: auto;
}
.orb-anatomical cite {
  display: block;
  width: fit-content;
  font-size: 12px;
  margin: auto;
}
.orb-anatomical .image {
  padding: 5px;
  background-color: #03636fb1;
  width: 600px;
  margin: 20px auto;
  max-width: 100%;
}
.orb-anatomical .image img {
  max-width: 100%;
}
.orb-anatomical .my-ear-flex {
  display: flex;
}
@media (max-width: 767px) {
  .orb-anatomical .my-ear-flex {
    display: flex;
    flex-wrap: wrap;
  }
}
.orb-anatomical .my-ear-flex .text {
  color: var(--main-Color);
}
.orb-anatomical .my-ear-flex .text p {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.orb-anatomical .my-ear-flex .text ul {
  padding-left: 30px;
  margin-bottom: 20px;
}

.orb-anatomical .my-ear-flex .image {
  max-width: 500px;
}
.orb-anatomical .my-ear-flex .image img {
  width: 100%;
}
/*****************************/
/* start oral finding  */
.oral-findings ul {
  color: var(--main-Color);
  font-size: 18px;
  list-style: inside !important;
  width: fit-content;
  margin: 20px auto;
  max-width: 400px;
}
.oral-findings .image {
  width: 680px;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #03636fb1;
  background-color: var(--main-Color);
}
.oral-findings .image img {
  max-width: 100%;
}
/***********************/
.radiographical table td .image {
  width: fit-content;
  margin: auto;
}
.radiographical table td .image img {
  transition: 0.3s;
}
.radiographical table td .image img:hover {
  transform: scale(1.1);
}
.radiographical ul {
  list-style: initial !important;
  color: var(--main-Color);
  width: fit-content;
  margin: 15px auto;
  font-size: 20px;
}
.radiographical p {
  font-size: 20px;
}
